#person-settings-view .container {
    padding: 20px;
}

#person-settings-view h1 {
    margin-bottom: 20px;
}

.settings-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    padding: 0 30px;
}

.settings-grid .leftaligned {
    text-align: left;
}

.settings-grid .rightaligned {
    text-align: right;
}

.settings-grid .underline {
    text-decoration: underline;
    font-weight: bold;
}

.settings-grid div {
    font-size: 60px;
    margin-top: 30px;
}

.settings-grid input[type="checkbox"] {
    width: 60px;
    height: 60px;
}

.fullwidth {
    width: 100%;
}