#person-view {
    padding: 20px;
    text-align: center; /* Center all text */
    position: relative; /* Ensure the back button can float at the bottom */
    min-height: 100vh; /* Ensure the view takes up the full height of the window */
    box-sizing: border-box; /* Include padding in the height calculation */
}

#person-view h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

#person-view .balance {
    font-size: 80px;
    margin-bottom: 20px;
}

#person-view .buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px;
    margin-bottom: 20px;
}

#person-view .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    flex: 1; /* Make each button take up half the width */
    height: 250px;
    border-radius: 20px;
    font-size: 50px;
}

#person-view .buttons .cover {
    background-color: rgb(100, 255, 100);
    color: white;
}

#person-view .buttons .get-covered {
    background-color: rgb(255, 100, 100);
    color: white;
}

.transaction-list h3 {
    font-size: 40px;
}

#person-view .transactions {
    margin-top: 20px;
}

#person-view .transactions h2 {
    margin-bottom: 10px;
    font-size: 70px;
}

#person-view .transaction-card {
    font-size: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#person-view .transaction-card.positive {
    /* background-color: green; */
    background-color: rgba(0, 255, 0, 0.2);
}

#person-view .transaction-card.negative {
    /* background-color: red; */
    background-color: rgba(255, 0, 0, 0.2);
}

#person-view .settings-button {
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 10px;
    cursor: pointer;
}

#person-view .settings-button img {
    width: 150px;

}