#transaction-view {
    padding: 20px;
}

#transaction-view .container {
    text-align: center;
}

#transaction-info {
    margin-bottom: 20px;
}

#transaction-info h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.delete-button {
    font-size: 50px;
    margin-top: 100px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    width: 80%;
}

.edit-button {
    width: 49%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    font-size: 50px;
}

.edit-amount-button {
    background-color: lightgreen;
}

.edit-label-button {
    background-color: lightblue;
}