body {
    background-color: rgb(0, 0, 41);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: white;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 200;
    margin-top: 100;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-size: 300;
    font-family: Arial, Helvetica, sans-serif;
}
h3.h3a {
    font-family: 'Courier New', Courier, monospace;
}
h3.h3b {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-size: 100;
}

#peopleCards {
    margin: auto;
    margin-top: 100px;
    width: 97%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.personCard {
    display: inline-block;
    background-color: rgb(100, 166, 175);
    margin: 10px;
    height: 300px;
    border: 2px solid;
    border-radius: 75px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    text-align: center;
}

.footer {
    background-color: darkred;
    width: 97%;
    height: 100px;
    border: 1px solid;
    border-radius: 40px;;
    position: fixed;
    bottom: 0px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 100;
    font-family: Arial, Helvetica, sans-serif;
}

#payActions {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.payAction {
    position: relative;
    border: 1px solid;
    border-radius: 40px;
    height: 300px;
    color: white;
    font-size: 100;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cover > span {
    position: relative;
    top: 75;
}

.getCovered > span {
    position: relative;
    top: 30;
}

.cover {
    background-color: rgb(100, 255, 100);
}

.getCovered {
    background-color: rgb(255, 100, 100);
}

#transactions {
    width: 100%;
}
.transaction {
    border: 1px solid;
    height: 200px;
    border-radius: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 75px;
}

.negative {
    background-color: red;
}

.positive {
    background-color: green;
}

#transactionPage {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    text-align: center;
}

#transactionPage > p, #transactionPage > input {
    font-size: 100;
    margin: 0;
}

.input {
    width: 45%;
    height: 100px;
}

#transLabel {
    width: 100%;
    text-align: center;
}

#completeTransaction > p, #completeTransaction > input {
    font-size: 100;
    margin: 0;
    text-align: center;
}

#completeTransaction {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    text-align: center;
}

#inputs > div > p, #inputs > div > input {
    font-size: 100;
    margin: 0;
    width: 100%;
    text-align: center;
}

#inputs {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    text-align: center;
}

#actionAmount {
    width: 80%;
}

.deleteBtn {
    color:red;
}

#currentBalance {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

#settingsImg {
    position: fixed;
    width: 125px;
    top: 20px;
    right: 15px;
}

input[type="checkbox"] {
    width: 60px;
    height: 60px;
    margin-left: 100px;
}


.setting::first-line {
    font-weight: bolder;
}

.setting {
    font-size: 100;
    margin-bottom: 100px;
    margin-left: 50px;
}